APP_PROTOCOL=http
APP_DOMAIN=localhost
APP_NODE_ENV=production
APP_HOST_PORT=4000
APP_CONTAINER_PORT=4000
APP_ALLOWED_HOSTS=localhost,127.0.0.1

DEV_DOMAIN=localhost
DEV_HOST_PORT=4200
DEV_CONTAINER_PORT=4200
DEV_POLL_INTERVAL=500
